.block{
  background: #ccc;
  font-size: 28px;
  width: 50%;
  min-height: 150px;
}
.block:nth-child(odd){
  width: 75%;
}
#block3{
  font-size: 16px;
}
h1{
  font-size: 2em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1em;
}
.block:hover {
  font-size: 56px;
}
#block3.block:hover{
  font-size: 32px;
}
